<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysj.core.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.ysj.core.po.Comments" >
    <id column="c_id" property="cId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, content, t_id, f_id, s_id, datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ysj.core.po.CommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where c_id = #{cId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comments
    where c_id = #{cId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ysj.core.po.CommentsExample" >
    delete from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ysj.core.po.Comments" >
    insert into comments (c_id, content, t_id, 
      f_id, s_id, datetime
      )
    values (#{cId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{tId,jdbcType=VARCHAR}, 
      #{fId,jdbcType=BIGINT}, #{sId,jdbcType=VARCHAR}, #{datetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ysj.core.po.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tId != null" >
        t_id,
      </if>
      <if test="fId != null" >
        f_id,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ysj.core.po.CommentsExample" resultType="java.lang.Integer" >
    select count(*) from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comments
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.tId != null" >
        t_id = #{record.tId,jdbcType=VARCHAR},
      </if>
      <if test="record.fId != null" >
        f_id = #{record.fId,jdbcType=BIGINT},
      </if>
      <if test="record.sId != null" >
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.datetime != null" >
        datetime = #{record.datetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comments
    set c_id = #{record.cId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      t_id = #{record.tId,jdbcType=VARCHAR},
      f_id = #{record.fId,jdbcType=BIGINT},
      s_id = #{record.sId,jdbcType=VARCHAR},
      datetime = #{record.datetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ysj.core.po.Comments" >
    update comments
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tId != null" >
        t_id = #{tId,jdbcType=VARCHAR},
      </if>
      <if test="fId != null" >
        f_id = #{fId,jdbcType=BIGINT},
      </if>
      <if test="sId != null" >
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_id = #{cId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ysj.core.po.Comments" >
    update comments
    set content = #{content,jdbcType=VARCHAR},
      t_id = #{tId,jdbcType=VARCHAR},
      f_id = #{fId,jdbcType=BIGINT},
      s_id = #{sId,jdbcType=VARCHAR},
      datetime = #{datetime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=BIGINT}
  </update>
</mapper>